<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
   
    <div class="flex-container">
        
        <h1>Vocabulary Flashcards</h1>
            <form action="/find" method="POST">
                <input type="text" name="word" placeholder="Word to Find" required>
                <button type="submit">Find Word</button>
            </form>
        <nav class="nav">

            <button onclick="location.href='/modify'" class="nav-button">View Wordbank</button>
            <button onclick="location.href='/quiz'" class="nav-button">Quiz a Random Word</button>
        </nav>
        <div class="container">
            {% if flashcard %}
                <div class="word">{{ flashcard.word }}</div>
                <div class="figure-of-speech">{{ flashcard.figure_of_speech }}</div>
                <div class="meaning">{{ flashcard.meaning }}</div>
            {% else %}
                <p>Word does not exist in database.</p>
            {% endif %}
            <a href="/" class="back-link">Random Flashcard</a>
        </div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Find a Word</h2>
            <form id="searchForm">
                <input type="text" id="searchWord" name="word" placeholder="Enter word" required>
                <button type="submit">Search</button>
            </form>
            <div id="searchResult"></div>
        </div>
    </div>

    
</body>
</html>
