<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
   
    <div class="flex-container">
        
        <h1>Dictionary Flashcards</h1>
        <nav class="nav">
            <button onclick="location.href='/search'" class="nav-button">Find</button>
            <button onclick="location.href='/modify'" class="nav-button">View</button>
            <button onclick="location.href='/quiz'" class="nav-button">Test</button>
        </nav>
        <div class="container">
            {% if flashcard %}
                <div class="word">{{ flashcard.word }}</div>
                <div class="figure-of-speech">{{ flashcard.figure_of_speech }}</div>
                <div class="meaning">{{ flashcard.meaning }}</div>
            {% else %}
                <p>No flashcards available.</p>
            {% endif %}
            <a href="/" class="back-link">Random Flashcard</a>
        </div>
    </div>
</body>
</html>
