<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>

    function check(i, answer){
        console.log(answer);
        console.log(i, i === answer, i==answer);
        //find out why i==answer is not working
        if (i === answer){
            alert("Correct Answer!");
        }
        else{
            alert("Wrong, try again!",answer);
        }
    }
    </script>
</head>
<body>
    <div class="container">
        <h1>Find meaning of "{{word}}" </h1>
        <nav class="nav">
            {% for i in options %}
            <button  class="nav-button" onclick="check('{{i}}',' {{answer}}')"> {{i}}</button>
            {% endfor %}

        </nav>
        <a href="/" class="back-link">Back to Home</a>
    </div>
</body>
</html>